*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.parentContainer{
    width: 100vw;
    height: 100vh;
    background-color: lightslategrey;
}
.parentContainer1{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.childContainer1, .childContainer2{
    height: 15vh;
    border: 1px solid black;
    font-size: 25px;
    display: flex;
}
.childContainer1{
    background-color: #F0223B;
    width: 70vw;
    justify-content:flex-start;
    align-items: flex-start;
}
.childContainer2{
    background-color: #FA23A9;
    width: 30vw;
    justify-content:flex-end;
    align-items: flex-end;
}
.parentContainer2{
    width: 100vw;
    height: 70vh;
    display: flex;
    font-size: 25px;
}

.childContainer3{
    background-color: #8D0E96;
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.parentContainer2-2{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;

}
.childContainer4, .childContainer5 {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.childContainer4{
    background-color: #14E3B5;
}
.childContainer5{
    background-color: #15967A;
}

.parentContainer3{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.childContainer6, .childContainer7, .childContainer8{
    width: 33.3333vw;
    height: 15vh;
    display: flex;
    font-size: 25px;
    border: 1px solid black;

}

.childContainer6{
    background-color: #D72BE3;
    justify-content: flex-end;
}

.childContainer7{
    background-color: #F34AFF;
    justify-content: flex-start;
    align-items: flex-end;

}

.childContainer8{
    background-color: #7BE32B;
    justify-content: center;
    align-items: flex-end;
}